.python-version
Testing note/ve_nha.txt
.gitignore
Testing note/Self_Attention_for_Transformer_Neural_Networks.ipynb
Testing note/Mutlihead_Attention.ipynb
Testing note
Testing note/*
mlartifacts
mlruns
mlruns/*
CSV
CSV/*
Testing note/test.ipynb
test.py
datasets/cifar10/cifar-10-python.tar.gz
datasets/cifar10/cifar-10-batches-py/batches.meta
datasets/cifar10/cifar-10-batches-py/data_batch_1
datasets/cifar10/cifar-10-batches-py/data_batch_2
datasets/cifar10/cifar-10-batches-py/data_batch_3
datasets/cifar10/cifar-10-batches-py/data_batch_4
datasets/cifar10/cifar-10-batches-py/data_batch_5
datasets/cifar10/cifar-10-batches-py/readme.html
datasets/cifar10/cifar-10-batches-py/test_batch
